<body>
    <div id="entorno">
        <div><img id="kupo" src="../../../img/kupo.gif"> </div>
        <div id="menu">
            <h1>La Fantasia no acaba</h1><br>
            <p>Hola! Bienvenidos a Final Fantasy RPG, un juego de rol muy sencillo para una serie de videojuegos maravillosa.</p>
            <br><p>Agradecimientos a Albert Nathus, Bernardino, Ceridwen, Ertzgiel, Katura, Linkaín, Nogard, Omnidragon,
                Ossa, Raknaris, Tuto, Tybalt, Yanke, y un largo etcétera de amigos, jugadores, y todos los que han colaborado
                con ideas, material, revisiones y ánimos. Mil gracias, kupo!</p><br>
            <h3>GRAN CAMBIO PARA LA 3º EDICIÓN!</h3><br>
            <p>Para cerrar la tercera edición deseo hacer una gran modificación que hacía parte de los primeros bocetos del
                juego hace años, pero que decidí cambiar pues me parecía más balanceado. Sin embargo, tras jugar y testear
                el sistema me doy cuenta que a partir de ciertos niveles los números empiezan a hacerse un poco grandes y
                manejarlos presenta un poquito de esfuerzo extra. Yo se que todos podemos usar una calculadora o somos buenos
                sumando y restando, pero por que no hacerlo más sencillo?</p><br><p>

                El cambio consiste en volver a implementar los dados de 6 en lugar de los dados de 10. Esto conlleva cambiar muchas cosas,
                aunque igual muchas habilidades y reglas establecen la cantidad de dados a lanzar pero no especifican cual
                dado pues se asume que son dados de 10, lo cual a partir de ahora serán dados de 6. Las reglas que aparecen
                en las páginas de este blog son el texto actualizado de la 3ra edición. Lamento no poder agruparlo todo en
                un PDF pero las limitaciones de tiempo continúan. </p><br><h2>NUEVA CAMPAÑA!</h2><br> Por
            fin, lo que muchos esperaban, una campaña excelente donde puedes ambientar tus partidas! En esta excelente guía
            escrita por nuestros amigos en Final Fantasy Crystal Destruction hay nuevas tribus, nuevas profesiones, nuevas
            opciones y nuevas historias! Pasa por nuestra página de Aventuras para que descargues tu copia.
        </div>

    </div>
    <div id="ambientacion">
        <h3>Ambientancion</h3><br>
        <p>Al jugar Final Fantasy le corresponde a la Narradora (y jugadores obviamente) tratar de brindar esa identidad
            única del universo de Final Fantasy que lo hace diferente a otras series y juegos de fantasía. Pero cómo describir
            esa atmósfera? Una imagen vale más que mil palabras! Así debe sentirse una narración de Final Fantasy RPG!!!</p>
        <br>
        <br>
        <div id="videos">
            <iframe src="https://www.youtube.com/embed/Yvp3e1xqcnw" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/oD0N5EOqbrE" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/cWtKIsLDmro" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/ag2cRTU-Og8" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/ek8jEw4N6gI" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/IT12DW2Fm9M" frameborder="0" allowfullscreen></iframe>

        </div>
        <h2>Musica</h2> <br>
        <p>La música del universo de Final Fantasy es hermosa y muy variada. Las bandas sonoras generan esa atmósfera propicia
            para la narración del juego. Mi consejo es separar las melodías en grupos: Música de pueblo (por ejemplo "Kids
            Run Through the City Corner"), música de dungeon ("Esper World"), música de combate ("Battle to the Death"),
            música para templos ("The Prelude") o música triste ("Forever Rachel").</p>

    </div>
    <br>
    <div id="ambientacion">
         
    </div>
</body>